@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply min-h-screen select-none bg-zinc-50 text-zinc-900 antialiased p-safe dark:bg-zinc-900 dark:text-zinc-50;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}



header {
	background-color: #114680 !important;
}

.botton-bar {
	background-color:  #114680 !important;
}

nav {
	background-color:  #114680 !important;
}

nav a {
	/* color: white !important; */
}

.vivi-image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.agentes-nocivos {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: .5rem;
}
